<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">MyBlogApp Yönetim Paneli</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ms-2">
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/admin">Anasayfa <span class="sr-only">(current)</span></a>
        </li>

        <div class="dropdown ms-2">
          <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hakkımda
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/hakkimda-düzenle/ekle">Hakkımda Ekle</a></li>
            <li><a class="dropdown-item" routerLink="/admin/hakkimda-düzenle/liste">Hakkımda Listele</a></li>
          </ul>
        </div>

        <div class="dropdown ms-2">
          <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Makale
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/makale/ekle">Makale Ekle</a></li>
            <li><a class="dropdown-item" routerLink="/admin/makale/liste">Makaleleri Listele</a></li>
          </ul>
        </div>


        <div class="dropdown ms-2">
          <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategori
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/kategori/ekle">Kategori Ekle</a></li>
            <li><a class="dropdown-item" routerLink="/admin/kategori/liste">Kategorileri Listele</a></li>
          </ul>
        </div>

        <div class="dropdown ms-2">
          <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hesap İşlemleri
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/hesap/ekle">Hesap Ekle</a></li>
            <li><a class="dropdown-item" routerLink=#>Hesapları Yönet</a></li>
          </ul>
        </div>

        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home"></i> Blog anasayfaya dönüş
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
