<h1 class="text-center font mt-4">Makale Ekle</h1>
<form class="mb-5" [formGroup]="createArticleForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

<div class="row">
  <div class="col-md-9">
      <mat-card>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="createArticleForm.get('title')?.invalid && createArticleForm.get('title')?.touched">
              Lütfen bir başlık girin.
            </mat-error>
          </mat-form-field>

          <div class="mb-4 bg">
            <ckeditor formControlName="content" [editor]="Editor" (ready)="onEditorReady($event)"></ckeditor>
          </div>

          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select multiple formControlName="categoryIds">
              <mat-option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName
                }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="createArticleForm.get('categoryIds')?.invalid && createArticleForm.get('categoryIds')?.touched">
              Lütfen en az bir kategori seçin.
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button class="mt-2" mat-raised-button color="primary" type="submit">Makale Oluştur</button>
        </mat-card-actions>
      </mat-card>
  </div>


  <div class="col-md-3 ">
    <div class="row">
      <div class="card border-secondary mb-3 image-box">
        <div class="card-header bg-transparent border-secondary">Resim Seç:</div>
        <div class="card-body text-secondary image-container">
          <img [src]="image || '../../../../../../assets/logo.png'" class="fit-image">
        </div>
        <div class="card-footer bg-transparent border-secondary input-group">
          <input type="file" (change)="upload($event)" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Yayınlanma Tarihi</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="publishDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="cs-form" >
        <input type="time" formControlName="publishTime" style="background-color: #424242; color: aliceblue;" class="form-control" value="00:00 AM" />
      </div>
    </div>
  </div>



</div>
</form>

