@model ChangePasswordModel
<section class="vh-80 gradient-custom">
  <div class="container py-5 h-100 card_login">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration border border-4" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Şifreyi Değiştir</h3>
            <form asp-controller="Writer" asp-action="ChangeUserPassword" method="post">
               
                <div class="row">
                    <div class="col-md-12 mb-4 d-flex align-items-center">
                        <div class="form-outline datepicker w-100">
                          <label asp-for="NewPassword" class="form-label" >Yeni Şifre</label>
                          <input type="text" class="form-control form-control-md" asp-for="NewPassword"/>
                          <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-4 d-flex align-items-center">
                        <div class="form-outline datepicker w-100">
                          <label asp-for="ReNewPassword" class="form-label" >Yeni Şifreyi Tekrar Girin</label>
                          <input type="text" class="form-control form-control-md" asp-for="ReNewPassword"/>
                          <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-2 text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    .card_login{
        width: 700px;
    }
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
</style>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }
