@model EditWriterInformationModel

<section class="vh-100 gradient-custom">
  <div class="container py-3 h-100 ">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration border border-5" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Kullanıcı Bilgilerini Düzenle</h3>
            <form asp-controller="Writer" asp-action="EditWriterInformation" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="firstName" class="form-control form-control-lg" asp-for="WriterName"/>
                            <label class="form-label" asp-for="WriterName">Ad:</label>
                            <span asp-validation-for="WriterName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="lastName" class="form-control form-control-lg" asp-for="WriterSurname"/>
                          <label class="form-label" asp-for="WriterSurname">Soyad:</label>
                          <span asp-validation-for="WriterSurname" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                        <div class="form-outline datepicker w-100">
                          <input type="text" class="form-control form-control-lg" id="birthdayDate" asp-for="Nickname"/>
                          <label asp-for="Nickname" class="form-label" >Nickname:</label>
                          <span asp-validation-for="Nickname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input asp-for="Mail" type="email" id="emailAddress" class="form-control form-control-lg" />
                          <label class="form-label" asp-for="Mail">Email</label>
                          <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-md-2">
                    <label for="">Thumbnail:</label>
                    <input type="file" name="file" id="formFile" accept="image/" />
                </div>

               
                <div class="mt-4 pt-2 text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@*<style>
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
</style>*@

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }