
<div class="busContainer  border border-4 rounded">
    <div class="theatre">
  <div class="screen-side">
    <h3 class="select-text">Select a seat</h3>
  </div>
  <div class="exit exit--front">
  </div>
  <ol class="cabin">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="1" />
          <label for="1">1</label>
        </li>
        <li class="seat">
          <input type="checkbox" disabled id="2" />
          <label for="2">2</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3" />
          <label for="3">3</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="4" />
          <label for="4">4</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="5" />
          <label for="5">5</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="6" />
          <label for="6">6</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="7" />
          <label for="7">7</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="8" />
          <label for="8">8</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="9" />
          <label for="9">9</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="10" />
          <label for="10">10</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="11" />
          <label for="11">11</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="12" />
          <label for="12">12</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="13" />
          <label for="13">13</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="14" />
          <label for="14">14</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="15" />
          <label for="15">15</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="16" />
          <label for="16">16</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="17" />
          <label for="17">17</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="18" />
          <label for="18">18</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="19" />
          <label for="19">19</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="20" />
          <label for="20">20</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="21" />
          <label for="21">21</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="22" />
          <label for="22">22</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="23" />
          <label for="23">23</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="24" />
          <label for="24">24</label>
        </li>
        
      </ol>
    </li>
    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="25" />
          <label for="25">25</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="26" />
          <label for="26">26</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="27" />
          <label for="27">27</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="28" />
          <label for="28">28</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="29" />
          <label for="29">29</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="30" />
          <label for="30">30</label>
        </li>
      </ol>
    </li>
    <li class="row row--11">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="31" />
          <label for="31">31</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="32" />
          <label for="32">32</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="33" />
          <label for="33">33</label>
        </li>
      </ol>
    </li>
    <li class="row row--11">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="34" />
          <label for="34">34</label>
        </li>
        
        <li class="seat">
          <input type="checkbox" id="35" />
          <label for="35">35</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="36" />
          <label for="36">36</label>
        </li>
      </ol>
    </li>
  </ol>
  <div class="exit exit--back">
  </div>
</div>
</div>




<style>
    	*, *:before, *:after {
  box-sizing: border-box;
}
::selection {
  background-color: #eee;
}
::-moz-selection {
  background-color: #eee;
}
.busContainer {
  font-size: 16px;
  background-color: #7393A7;
  width:350px;
}
.theatre {
  margin: 20px auto;
  width: 100%;
  max-width: 190px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px 10px;
  box-shadow: 0px 0px 17px -4px #000;
}
.screen-side {
  text-align: center;
}
.screen-side .screen {
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0px -3px 0px 1px #ccc;
  color: #ccc;
}
.screen-side .select-text {
  color: #969696;
}
.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 5px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: #81c784;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
  display: flex;
  flex: 0 0 48px;
  padding: 5px;
  position: relative;
}
.seat:nth-child(1) {
  margin-right: 14.28571%;
}
.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.seat input[type="checkbox"]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type="checkbox"]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type="checkbox"]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  color: #fff;
  background: #26a69a;
  border-radius: 2px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  transition-duration: 300ms;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0px 0 7px 3px #ccc;
}
</style>
