<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Todos</h2>
            <a class="btn btn btn-outline-secondary btn-sm mb-2" routerLink="/todos-add">Add Todo</a>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Completed</th>
                        <th>Id</th>
                        <th>Content</th>
                        <th>Create</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="todolist">
                  <tr *ngFor="let todo of todoList" [class.completed]="todo.isCompleted">
                      <td> <input type="checkbox" class="form-check-input text-secondary" [checked]="todo.isCompleted" (change)="isCompleted(todo.id)" > </td>
                      <td>{{todo.id}}</td>
                      <td>{{todo.content}}</td>
                      <td> {{todo.created | date:'short'}} </td>
                      <td>
                        <button (click)="delete(todo.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        <a class="btn btn-success mx-2" [routerLink]="['/todos-update', todo.id]" > <i class="fa-solid fa-pen-to-square"></i> </a>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
