@model ListCityInfo
<div class="row">
    <partial name="_RouteSearch" />
</div>
<hr />
<div class="row">
    <partial name="_Facilities" />
</div>
<hr />
<div class="row">
    <partial name="_PopularRoutes" />
</div>
<hr />





