@using BusBookingApp.Entity

@model List<Bus>

<div class="container mt-4">
    <div class="col-sm-12">
        <h3>Bus List</h3>
        <hr />

        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="CreateBus">Create Bus</a>
        <br />
        <table class="table table table-bordered shadow-sm mt-3">
            <thead>
                <tr>
                    <th>Bus ID</th>
                    <th>Bus Seat Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BusId</td>
                        <td>@item.BusSeatCapacity</td>
                        <td>
                            <!-- Button trigger DeleteModal -->
                            <button type="button" asp-route-id=@item.BusId class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@item.BusId">
                                Delete
                            </button>
                            <!-- DeleteModal -->
                            <div class="modal fade" id="DeleteModal_@item.BusId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger">This bus will be deleted!</p>
                                            <p>Are you sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="Admin"
                                               asp-action="DeleteBus"
                                               asp-route-id="@item.BusId"
                                               class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
